In [ ]:
# Install required libraries
!pip install pandas sqlalchemy psycopg2-binary

# Set up PostgreSQL
!apt-get install postgresql postgresql-contrib
!service postgresql start
!sudo -u postgres psql -c "CREATE USER colab WITH PASSWORD 'colab';"
!sudo -u postgres psql -c "CREATE DATABASE airbnb_db WITH OWNER colab;"
!sudo -u postgres psql -c "GRANT ALL PRIVILEGES ON DATABASE airbnb_db TO colab;"

# Import necessary libraries
import pandas as pd
from sqlalchemy import create_engine
import logging

# Set up logging
logging.basicConfig(level=logging.INFO)

class AirbnbETL:
    def __init__(self):
        self.df = None
        self.avg_price = None

    def load_data(self):
        try:
            # Assuming the file is named 'AB_NYC_2019.csv' and is in the Colab workspace
            self.df = pd.read_csv('/content/AB_NYC_2019.csv')
            logging.info(f"Data loaded successfully. Shape: {self.df.shape}")
        except Exception as e:
            logging.error(f"Error loading data: {str(e)}")
            raise

    def transform_data(self):
        try:
            # Normalize data
            self.df['date'] = pd.to_datetime(self.df['last_review']).dt.date
            self.df['time'] = pd.to_datetime(self.df['last_review']).dt.time

            # Calculate average price per neighborhood
            self.avg_price = self.df.groupby('neighbourhood_group')['price'].mean().reset_index()

            # Handle missing values
            self.df['reviews_per_month'].fillna(0, inplace=True)

            # Additional transformations
            self.df['price_per_person'] = self.df['price'] / self.df['minimum_nights']
            self.df['is_expensive'] = self.df['price'] > self.df['price'].median()

            logging.info("Data transformation completed successfully")
        except Exception as e:
            logging.error(f"Error in data transformation: {str(e)}")
            raise

    def load_to_db(self):
        try:
            engine = create_engine('postgresql://colab:colab@localhost/airbnb_db')

            # Load original data
            self.df.to_sql('airbnb_data', engine, if_exists='replace', index=False, chunksize=1000)

            # Load transformed data
            self.avg_price.to_sql('avg_price_by_neighborhood', engine, if_exists='replace', index=False)

            logging.info("Data loaded to database successfully")
        except Exception as e:
            logging.error(f"Error loading data to database: {str(e)}")
            raise

    def run(self):
        self.load_data()
        self.transform_data()
        self.load_to_db()
        logging.info("ETL process completed successfully!")

# Run the ETL process
etl = AirbnbETL()
etl.run()

# Query and display results
import pandas as pd
from sqlalchemy import create_engine, text

engine = create_engine('postgresql://colab:colab@localhost/airbnb_db')

# Query the airbnb_data table
query = text("SELECT * FROM airbnb_data LIMIT 5")
result = pd.read_sql(query, engine)
print("Sample data from airbnb_data table:")
print(result)

# Query the avg_price_by_neighborhood table
query = text("SELECT * FROM avg_price_by_neighborhood")
result = pd.read_sql(query, engine)
print("\nAverage price by neighborhood:")
print(result)

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.31)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 27.6 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libcommon-sense-perl libjson-perl libjson-xs-perl libtypes-serialiser-perl logrotate netbase
  postgresql-14 postgresql-client-14 postgresql-client-common postgresql-common ssl-cert sysstat
Suggested packages:
  bsd-mailx | mailx postgresql-doc postgresql-doc-14 isag
The following NEW packages will be installed:
  libcommon-sense-perl libjson-perl libjson-xs-perl libtypes-serialiser-perl logrotate netbase
  postgresql postgresql-14 postgresql-client-14 postgresql-client-common postgresql-common
  postgresql-contrib ssl-cert sysstat
0 upgraded, 14 newly installed, 0 to remove and 45 not upgraded.
Need to get 18.4 MB of archives.
After this operation, 51.7 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 logrotate amd64 3.19.0-1ubuntu1.1 [54.3 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy/main amd64 netbase all 6.3 [12.9 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcommon-sense-perl amd64 3.75-2build1 [21.1 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy/main amd64 libjson-perl all 4.04000-1 [81.8 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy/main amd64 libtypes-serialiser-perl all 1.01-1 [11.6 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy/main amd64 libjson-xs-perl amd64 4.030-1build3 [87.2 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql-client-common all 238 [29.6 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 postgresql-client-14 amd64 14.12-0ubuntu0.22.04.1 [1,223 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 ssl-cert all 1.1.2 [17.4 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql-common all 238 [169 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 postgresql-14 amd64 14.12-0ubuntu0.22.04.1 [16.2 MB]
Get:12 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql all 14+238 [3,288 B]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql-contrib all 14+238 [3,292 B]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 sysstat amd64 12.5.2-2ubuntu0.2 [487 kB]
Fetched 18.4 MB in 0s (37.6 MB/s)
Preconfiguring packages ...
Selecting previously unselected package logrotate.
(Reading database ... 123576 files and directories currently installed.)
Preparing to unpack .../00-logrotate_3.19.0-1ubuntu1.1_amd64.deb ...
Unpacking logrotate (3.19.0-1ubuntu1.1) ...
Selecting previously unselected package netbase.
Preparing to unpack .../01-netbase_6.3_all.deb ...
Unpacking netbase (6.3) ...
Selecting previously unselected package libcommon-sense-perl:amd64.
Preparing to unpack .../02-libcommon-sense-perl_3.75-2build1_amd64.deb ...
Unpacking libcommon-sense-perl:amd64 (3.75-2build1) ...
Selecting previously unselected package libjson-perl.
Preparing to unpack .../03-libjson-perl_4.04000-1_all.deb ...
Unpacking libjson-perl (4.04000-1) ...
Selecting previously unselected package libtypes-serialiser-perl.
Preparing to unpack .../04-libtypes-serialiser-perl_1.01-1_all.deb ...
Unpacking libtypes-serialiser-perl (1.01-1) ...
Selecting previously unselected package libjson-xs-perl.
Preparing to unpack .../05-libjson-xs-perl_4.030-1build3_amd64.deb ...
Unpacking libjson-xs-perl (4.030-1build3) ...
Selecting previously unselected package postgresql-client-common.
Preparing to unpack .../06-postgresql-client-common_238_all.deb ...
Unpacking postgresql-client-common (238) ...
Selecting previously unselected package postgresql-client-14.
Preparing to unpack .../07-postgresql-client-14_14.12-0ubuntu0.22.04.1_amd64.deb ...
Unpacking postgresql-client-14 (14.12-0ubuntu0.22.04.1) ...
Selecting previously unselected package ssl-cert.
Preparing to unpack .../08-ssl-cert_1.1.2_all.deb ...
Unpacking ssl-cert (1.1.2) ...
Selecting previously unselected package postgresql-common.
Preparing to unpack .../09-postgresql-common_238_all.deb ...
Adding 'diversion of /usr/bin/pg_config to /usr/bin/pg_config.libpq-dev by postgresql-common'
Unpacking postgresql-common (238) ...
Selecting previously unselected package postgresql-14.
Preparing to unpack .../10-postgresql-14_14.12-0ubuntu0.22.04.1_amd64.deb ...
Unpacking postgresql-14 (14.12-0ubuntu0.22.04.1) ...
Selecting previously unselected package postgresql.
Preparing to unpack .../11-postgresql_14+238_all.deb ...
Unpacking postgresql (14+238) ...
Selecting previously unselected package postgresql-contrib.
Preparing to unpack .../12-postgresql-contrib_14+238_all.deb ...
Unpacking postgresql-contrib (14+238) ...
Selecting previously unselected package sysstat.
Preparing to unpack .../13-sysstat_12.5.2-2ubuntu0.2_amd64.deb ...
Unpacking sysstat (12.5.2-2ubuntu0.2) ...
Setting up logrotate (3.19.0-1ubuntu1.1) ...
Created symlink /etc/systemd/system/timers.target.wants/logrotate.timer → /lib/systemd/system/logrotate.timer.
Setting up libcommon-sense-perl:amd64 (3.75-2build1) ...
Setting up ssl-cert (1.1.2) ...
Setting up libtypes-serialiser-perl (1.01-1) ...
Setting up libjson-perl (4.04000-1) ...
Setting up netbase (6.3) ...
Setting up sysstat (12.5.2-2ubuntu0.2) ...

Creating config file /etc/default/sysstat with new version
update-alternatives: using /usr/bin/sar.sysstat to provide /usr/bin/sar (sar) in auto mode
Created symlink /etc/systemd/system/sysstat.service.wants/sysstat-collect.timer → /lib/systemd/system/sysstat-collect.timer.
Created symlink /etc/systemd/system/sysstat.service.wants/sysstat-summary.timer → /lib/systemd/system/sysstat-summary.timer.
Created symlink /etc/systemd/system/multi-user.target.wants/sysstat.service → /lib/systemd/system/sysstat.service.
Setting up postgresql-client-common (238) ...
Setting up libjson-xs-perl (4.030-1build3) ...
Setting up postgresql-client-14 (14.12-0ubuntu0.22.04.1) ...
update-alternatives: using /usr/share/postgresql/14/man/man1/psql.1.gz to provide /usr/share/man/man1/psql.1.gz (psql.1.gz) in auto mode
Setting up postgresql-common (238) ...
Adding user postgres to group ssl-cert

Creating config file /etc/postgresql-common/createcluster.conf with new version
Building PostgreSQL dictionaries from installed myspell/hunspell packages...
Removing obsolete dictionary files:
Created symlink /etc/systemd/system/multi-user.target.wants/postgresql.service → /lib/systemd/system/postgresql.service.
Setting up postgresql-14 (14.12-0ubuntu0.22.04.1) ...
Creating new PostgreSQL cluster 14/main ...
/usr/lib/postgresql/14/bin/initdb -D /var/lib/postgresql/14/main --auth-local peer --auth-host scram-sha-256 --no-instructions
The files belonging to this database system will be owned by user "postgres".
This user must also own the server process.

The database cluster will be initialized with locale "en_US.UTF-8".
The default database encoding has accordingly been set to "UTF8".
The default text search configuration will be set to "english".

Data page checksums are disabled.

fixing permissions on existing directory /var/lib/postgresql/14/main ... ok
creating subdirectories ... ok
selecting dynamic shared memory implementation ... posix
selecting default max_connections ... 100
selecting default shared_buffers ... 128MB
selecting default time zone ... Etc/UTC
creating configuration files ... ok
running bootstrap script ... ok
performing post-bootstrap initialization ... ok
syncing data to disk ... ok
update-alternatives: using /usr/share/postgresql/14/man/man1/postmaster.1.gz to provide /usr/share/man/man1/postmaster.1.gz (postmaster.1.gz) in auto mode
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up postgresql-contrib (14+238) ...
Setting up postgresql (14+238) ...
Processing triggers for man-db (2.10.2-1) ...
 * Starting PostgreSQL 14 database server
   ...done.
CREATE ROLE
CREATE DATABASE
GRANT
Sample data from airbnb_data table:
     id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149               1                  9  2018-10-19
1  Entire home/apt    225               1                 45  2019-05-21
2     Private room    150               3                  0        None
3  Entire home/apt     89               1                270  2019-07-05
4  Entire home/apt     80              10                  9  2018-11-19

   reviews_per_month  calculated_host_listings_count  availability_365  \
0               0.21                               6               365
1               0.38                               2               355
2               0.00                               1               365
3               4.64                               1               194
4               0.10                               1                 0

         date      time  price_per_person  is_expensive
0  2018-10-19  00:00:00             149.0          True
1  2019-05-21  00:00:00             225.0          True
2        None      None              50.0          True
3  2019-07-05  00:00:00              89.0         False
4  2018-11-19  00:00:00               8.0         False

Average price by neighborhood:
  neighbourhood_group       price
0               Bronx   87.496792
1            Brooklyn  124.383207
2           Manhattan  196.875814
3              Queens   99.517649
4       Staten Island  114.812332

Cell 1: Setup and Data Loading

In [ ]:
# Install required libraries
# !pip install pandas sqlalchemy psycopg2-binary

# Import necessary libraries
import pandas as pd
from sqlalchemy import create_engine
import logging

# Set up logging
logging.basicConfig(level=logging.INFO)

# Load data
df = pd.read_csv('/content/AB_NYC_2019.csv')
logging.info(f"Data loaded successfully. Shape: {df.shape}")

# Display first few rows
print(df.head())

     id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149               1                  9  2018-10-19
1  Entire home/apt    225               1                 45  2019-05-21
2     Private room    150               3                  0         NaN
3  Entire home/apt     89               1                270  2019-07-05
4  Entire home/apt     80              10                  9  2018-11-19

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.21                               6               365
1               0.38                               2               355
2                NaN                               1               365
3               4.64                               1               194
4               0.10                               1                 0

Cell 2: Data Transformation

In [ ]:
# Normalize data
df['date'] = pd.to_datetime(df['last_review']).dt.date
df['time'] = pd.to_datetime(df['last_review']).dt.time

# Calculate average price per neighborhood
avg_price = df.groupby('neighbourhood_group')['price'].mean().reset_index()

# Handle missing values
df['reviews_per_month'].fillna(0, inplace=True)

# Additional transformations
df['price_per_person'] = df['price'] / df['minimum_nights']
df['is_expensive'] = df['price'] > df['price'].median()

logging.info("Data transformation completed successfully")

# Display transformed data
print(df[['id', 'name', 'date', 'time', 'price_per_person', 'is_expensive']].head())
print("\nAverage price by neighborhood:")
print(avg_price)

     id                                              name        date  \
0  2539                Clean & quiet apt home by the park  2018-10-19
1  2595                             Skylit Midtown Castle  2019-05-21
2  3647               THE VILLAGE OF HARLEM....NEW YORK !         NaT
3  3831                   Cozy Entire Floor of Brownstone  2019-07-05
4  5022  Entire Apt: Spacious Studio/Loft by central park  2018-11-19

       time  price_per_person  is_expensive
0  00:00:00             149.0          True
1  00:00:00             225.0          True
2       NaT              50.0          True
3  00:00:00              89.0         False
4  00:00:00               8.0         False

Average price by neighborhood:
  neighbourhood_group       price
0               Bronx   87.496792
1            Brooklyn  124.383207
2           Manhattan  196.875814
3              Queens   99.517649
4       Staten Island  114.812332

Cell 3: Database Setup and Data Loading

In [ ]:
# Set up PostgreSQL
!apt-get install postgresql postgresql-contrib
!service postgresql start
!sudo -u postgres psql -c "CREATE USER colab WITH PASSWORD 'colab';"
!sudo -u postgres psql -c "CREATE DATABASE airbnb_db WITH OWNER colab;"
!sudo -u postgres psql -c "GRANT ALL PRIVILEGES ON DATABASE airbnb_db TO colab;"

# Load data to database
engine = create_engine('postgresql://colab:colab@localhost/airbnb_db')

# Load original data
df.to_sql('airbnb_data', engine, if_exists='replace', index=False, chunksize=1000)

# Load transformed data
avg_price.to_sql('avg_price_by_neighborhood', engine, if_exists='replace', index=False)

logging.info("Data loaded to database successfully")

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
postgresql is already the newest version (14+238).
postgresql-contrib is already the newest version (14+238).
0 upgraded, 0 newly installed, 0 to remove and 45 not upgraded.
 * Starting PostgreSQL 14 database server
   ...done.
ERROR:  role "colab" already exists
ERROR:  database "airbnb_db" already exists
GRANT

Cell 4: Database Queries

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, text

engine = create_engine('postgresql://colab:colab@localhost/airbnb_db')

# Query the airbnb_data table
query = text("SELECT * FROM airbnb_data LIMIT 5")
result = pd.read_sql(query, engine)
print("Sample data from airbnb_data table:")
print(result)

# Query the avg_price_by_neighborhood table
query = text("SELECT * FROM avg_price_by_neighborhood")
result = pd.read_sql(query, engine)
print("\nAverage price by neighborhood:")
print(result)

Sample data from airbnb_data table:
     id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149               1                  9  2018-10-19
1  Entire home/apt    225               1                 45  2019-05-21
2     Private room    150               3                  0        None
3  Entire home/apt     89               1                270  2019-07-05
4  Entire home/apt     80              10                  9  2018-11-19

   reviews_per_month  calculated_host_listings_count  availability_365  \
0               0.21                               6               365
1               0.38                               2               355
2               0.00                               1               365
3               4.64                               1               194
4               0.10                               1                 0

         date      time  price_per_person  is_expensive
0  2018-10-19  00:00:00             149.0          True
1  2019-05-21  00:00:00             225.0          True
2        None      None              50.0          True
3  2019-07-05  00:00:00              89.0         False
4  2018-11-19  00:00:00               8.0         False

Average price by neighborhood:
  neighbourhood_group       price
0               Bronx   87.496792
1            Brooklyn  124.383207
2           Manhattan  196.875814
3              Queens   99.517649
4       Staten Island  114.812332

Cell 5: Error Handling Demonstration

In [ ]:
# Attempt to load non-existent file
try:
    df_error = pd.read_csv('non_existent_file.csv')
except FileNotFoundError as e:
    logging.error(f"Error loading data: {str(e)}")
    print("File not found error handled successfully")

ERROR:root:Error loading data: [Errno 2] No such file or directory: 'non_existent_file.csv'

File not found error handled successfully